
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <hr />
        <h1 style="color:red;">無效的登入權限</h1>
        <hr />
    </div>
</body>
</html>
