
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_THCUI.cshtml";
}
<h2>test</h2>

<input type="button" value="login" onclick="getAddr();"/>
<h2>test</h2>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=zh-TW&key=AIzaSyApgg7HJG9Cqx_MZgysXFEgHWN5OKGOZh4"></script>

<script>

    var LAT = 13.1294388, LONG = 101.1650978;

    function getAddr() {
                
        var latlng = new google.maps.LatLng(LAT, LONG);

        geocoder = new google.maps.Geocoder();

        geocoder.geocode({ 'latLng': latlng }, function (results, status) {

            if (status == google.maps.GeocoderStatus.OK) {

                var len = results[0].address_components.length;
                //var len2 = CITY_DEF.length;
                for (var i = 0 ; i < len; i++) {
                    var locCity = results[0].address_components[i].long_name;

                    console.log(locCity);
                   
                    //for (var j = 0 ; j < len2; j++) {
                    //    if (locCity.startsWith(CITY_DEF[j])) {
                    //        CITY = CITY_DEF[j];
                     //       redirectLogin();
                     //       return true;
                     //   }
                    //}
                }
                

            } else {
                alert('Geocoder failed due to: ' + status);               
            }
        });

    }

   
</script>


<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status"></div>

