
@{
    Layout = "~/Views/Shared/_THC_White.cshtml";
}

<div class="content inputcontent text-center">

    <div class="logo w50"><img src="~/images/logo.png" class="logo-img" /></div>
    <div class="row">
        <div class="col-xs-10  col-xs-offset-1">            
            <h1 style="color:#ff6a00;display:none;">歡迎進入宏全公司 QPID</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 mainbody">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>

</div>

