
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_THC.cshtml";
}

<div class="content">

    <div class="logo w50"><img src="images/logo.png" class="logo-img" /></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 mainbody">
           
        </div>

    </div>

</div>

