
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div style="text-align:center;">
        <h2>Error</h2>        
        <span>@ViewBag.Error</span>
    </div>
</body>
</html>
