
@{
    ViewBag.Title = "THC 活動控制台";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div style="text-align:center;">
        <h1 style="color:red;">Error</h1>        
        <hr />
        <br />
        <span style="color:red;font-size:x-large;">@ViewBag.Error</span>
    </div>
</body>
</html>
